<div id="guidelines" class="content">
    <h4>Formatting Guide</h4>
    <p><strong><u>Answers</u></strong> should be wrapped with _underscores_.</p>
    <p><u>Prompts</u> should be wrapped with __double underscores__.</p>
    <p><i>Italicize</i> titles by using ~tildes~.</p>
    <p><strong>Pronunciation guides</strong> use (parentheses), unless the parentheses are escaped with \(backslashes\).</p>
    <p><sup>Superscripts</sup> follow the format \SMy Superscript Text\S.</p>
    <p><sub>Subscripts</sub> follow the format \sMy subscript text\s.</p>
    <p><strong>Powers</strong> end with (*).</p>
    <p><strong>Read Answer Carefully</strong> tag should be checked for answers with complex answer lines. When packetized, these answers will be flagged at the start of the packet.</p>
    <p><strong>Pasting plain text:</strong> the editor keeps formatting when you paste from Word or Google Docs. To paste <em>without</em> formatting, use <kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>V</kbd> (Windows/Linux) or <kbd>&#8984;</kbd>+<kbd>Shift</kbd>+<kbd>V</kbd> (Mac).</p>
</div>
