{% extends "base.html" %}
{% load cache %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block title %}{% if qset %}Comments - {{ qset.name }} - QEMS3{% else %}Comments - QEMS3{% endif %}{% endblock %}

{% block content %}
{% load static %}
{% load filters %}
{% load comments %}

<h3 class="page-header">{{qset.name}} - Comments</h3>

{% block tab_group_2 %}
    {% include "tab_group_2.html" %}
{% endblock %}

{% include "_comment_discord.html" %}

<table class="tablesorter table-striped table-hover" id="comments-table">
    <thead>
        <tr>
            <th>Commenter</th>
            <th>Comment</th>
            <th>Question</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% autoescape off %}
            {% for comment in comment_tab_list %}
                <tr{% if comment.comment.is_discord %} class="comment-discord"{% endif %}>
                    <td>{% if comment.comment.is_discord %}<span class="discord-badge">Discord</span>{{ comment.comment.user_name }}{% else %}{{ comment.comment|commenter_name }}{% endif %}</td>
                    <td>{{ comment.comment.comment|comment_html }}{% if comment.comment.is_discord and comment.comment.discord_thread_url %}<br /><a href="{{ comment.comment.discord_thread_url }}" target="_blank" rel="noopener" class="discord-thread-link">Open Discord thread</a>{% endif %}</td>
                    <td><a href="/edit_{{ comment.question_type }}/{{ comment.question_id }}">{{ comment.question_text }}</a></td>
                    <td>{{ comment.comment.submit_date|to_short_datetime }}</td>
                </tr>
            {% endfor %}
        {% endautoescape %}
    </tbody>
</table>

<input type="hidden" id="qset-id" value="{{ qset.id }}">
{% include "dialog.html" %}

{% endblock %}
