{% extends "base-login.html" %}

{% block title %}Set New Password - QEMS2{% endblock %}

{% block content %}
{% if token_fail %}
    <h4>Invalid Reset Link</h4>
    <div class="alert-box alert">
        This password reset link is invalid, possibly because it has already been used.
    </div>
    <p><a href="{% url 'account_reset_password' %}" class="button primary expand">Request a new reset link</a></p>
{% else %}
    <h4>Set New Password</h4>
    <form method="post" action="{{ action_url }}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert-box alert">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {{ redirect_field }}
        <label for="id_password1">New Password
            <input type="password" name="password1" id="id_password1" placeholder="New password" required autofocus>
        </label>
        <label for="id_password2">Confirm New Password
            <input type="password" name="password2" id="id_password2" placeholder="Confirm new password" required>
        </label>
        <input type="submit" name="action" value="Change Password" class="button primary expand">
    </form>
{% endif %}
<p class="small-below"><a href="{% url 'account_login' %}">Back to sign in</a></p>
{% endblock %}
